<% include ./partials/header %>

<p>Enter your new <strong>Password</strong> : </p>
<form action="/users/forgot-password/<%= id %>/<%= change_pass_id %>" method="POST">
  <div class="form-group">
    <input type="password" placeholder="New Password" name="password" id="password" class="form-control">
  </div>
  <div class="form-group">
    <input type="password" placeholder="Confirm Password" name="password2" id="password2" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Change Password</button>
</form>

<% include ./partials/footer %>




